$color: #fff;
$activeColor: #3e96e7;

.li {
  border-left: 1px solid #ddd;
  list-style: none;

  &::before {
    content: " ";
    display: block;
    border-top: 5px solid $color;
    transition: all 0.1s;
  }
  &::after {
    content: " ";
    display: block;
    border-bottom: 5px solid $color;
    transition: all 0.1s;
  }
}
// 被拖拽元素样式
.ondrag {
  color: #ddd;
}
// 释放位置的样式
.ondrop {
  &.before::before {
    content: " ";
    display: block;
    border-top: 5px solid $activeColor;
  }
  &.inner::after {
    content: " ";
    display: block;
    border-bottom: 5px solid $activeColor;
    margin-left: 40px;
  }
  &.after::after {
    content: " ";
    display: block;
    border-bottom: 5px solid $activeColor;
  }
}
